---
layout: default
title: Work
bodyclass: projects
---

<div  class="pllrs4 ___2">
  {% for post in site.posts %}
    {% if post.type == 'projects' %}
      <p class="column">
        <a class="thumb_info" href="{{ post.url }}">
	  <img class="thumb" style="background:#f0f0f0;" src="data:image/gif;base64,R0lGODlhFAALAIAAAAAAAAAAACH5BAEAAAAALAAAAAAUAAsAAAINhI+py+0Po5y02otdAQA7" {% if post.thumb %}data-src="{{ post.thumb }}" {% endif %} />
          <span class="info">{{ post.title }}</span>
	</a>
      </p>
    {% endif %}
  {% endfor %}
</div>
