$break_tablet: 600px;
$break_large_tablet: 768px;
$break_desktop: 1000px;
$space: 1em;
$pllrs_gutter: 1%;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
// Base
@import "pllrs/pllrs/base";
@import "site/base";

// Tablet
@media screen and (min-width:$break_tablet) {
  @import "pllrs/pllrs/tablet";
  @import "site/tablet";
}

// Large Tablet
@media screen and (min-width:$break_large_tablet) {
  @import "pllrs/pllrs/large_tablet";
  @import "site/large_tablet";
}

// Desktop
@media screen and (min-width:$break_desktop) {
  @import "pllrs/pllrs/desktop";
  @import "site/desktop";
}
