# run pip install -r requirements.txt
markdown
django==1.4
psycopg2==2.4.5
dj-database-url==0.2.0
newrelic
PIL
django-storages
boto
-e git+https://github.com/ericlindstrom/django-blog.git#egg=django-blog
pylibmc==1.2.2
django-pylibmc-sasl==0.2.4
django-heroku-memcacheify
