/**
 *  @file: site/base
 */

$border: 1px solid #ccc;
$sans: 'alternate-gothic-no-3-d', Helvetica, Arial; 


@mixin flpr($width:100%) {
  float:left; position:relative; width:$width;
}

@mixin transition($params) {
  -webkit-transition:$params;
  -moz-transition:$params;
  -o-transition:$params;
  transition:$params;
}

body { 
  font-family:'ff-tisa-web-pro', Times, serif; 
  font-weight:200;
  font-size:1.5em;
}

#wrap { @include flpr(); overflow:hidden; }

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 { 
  font-family: 'alternate-gothic-no-3-d', Helvetica, Arial; 
  font-weight: 400;
  text-transform:uppercase;
  margin:0; padding:0;
}

.serif {
  font-family: 'alternate-gothic-no-3-d', Helvetica, Arial; 
  font-weight: 400;
  text-transform:uppercase;
}

h1, .h1 { line-height:.9em; }
h2, .h2 { font-size:1.5em; padding-bottom:$space*.5; line-height:1em; }
p { 
  margin:0; padding:0 0 $space; 
  color:#202020;
  font-size:.8em; 
  font-weight:400;
  letter-spacing:0; 
  line-height:1.4em;
}

a { color:#000; text-decoration:none; }

#content img {
  width:100%;
}

.block,
article,
section { @include flpr(); }

menu,
ol,
ul { margin: 0; padding: 0 0 0 $space; }

#header { 
  border-bottom:$border; 
  background:#2e2e2e;
  font-family: $sans;
  text-transform:uppercase;
  letter-spacing:1px;
  a { color:#FFF; }
  h2 { @include flpr($width:100%); padding:$space*.5 0 0; text-align:center; }
  nav { width:230px; margin:0 auto; }
  nav ul { @include flpr($width:auto); padding:0;}
  nav ul li { @include flpr($width:auto); font-size:.8em; letter-spacing:2px; padding:6px 0; }
  nav ul li a { @include flpr($width:auto); padding:$space*.5; }
}

.position { margin:0 auto; }

.container { 
  @include flpr();
  padding:0 $space; 
}

.column { margin-bottom:$space; font-size:.8em; }

article.post { 
  margin:$space 0; border-bottom:$border; 
  &:first-child { margin-top:0; }
}

#header { margin-bottom:$space; }

.border_bottom { border-bottom: $border; }

.info_block { 
  margin-top:20px; margin-bottom:50px; padding-bottom:30px; 
  .close {
    top:-60px; right:20px; position:absolute;
    font-size:2em;
    color:rgba(0,0,0,.5);
  }
}

.post {
  article.post:last-child { margin-bottom:0; }
  .content_wrap .side_content { 
    @include flpr(); 
    h3 { padding-top: $space; }
    ul { margin:0; padding:0; }
    ul li { 
      list-style-type:none; 
      @include flpr(); 
      border-bottom: $border; 
      padding:$space*.15 0 $space*.25;
      text-transform: capitalize;
    }
  }
}

.projects {
  .column { padding:0; margin-bottom:1%; }
  .thumb_info {
    @include flpr();
    .thumb, .info { @include flpr(); }

    .info {
      background:rgba(0,0,0,.8);
      color:#FFF;
      float:left; position:absolute;
      width:100%;
      height:100%;
      top:0%;
      left:0;
      padding:.75em;
      opacity:0;
      @include transition(all .1s linear);

      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;  

      -webkit-box-align: center; 
      -moz-box-align: center; /* OLD… */
      -ms-flex-align: center; /* You know the drill now… */
      -webkit-align-items: center;
      align-items: center;

      font-size:1.2em;
      line-height:.9em;
    }

    &:hover .info { opacity:1; }
  }
}

.touch .projects .column {
  margin-bottom:20px;
  .thumb_info .info {
    @include flpr();
    background:none;
    color:#202020;
    padding-left:0;
    display:block; opacity:1;
  }
}
