/**
 * @file: site/desktop
 */
.position { width:1000px; }

.post {
  .content_wrap {
    .position { width:1000px; }
    .posts { width:600px; float:left;}
    .side_content { 
      float:right; width:250px; 
      h3 { padding-top:$space*.5; }
    }
    
  }
}

.projects {
  .column { margin-bottom:1%; }
  .thumb_info {
  }
}

.page_controls {
  position:fixed;
  top:50%;
  left:2%;
  width:96%;
}
