/**
 * @file: site/tablet
 */
h2 { font-size:2em; }
p {
  font-size:.9em; 
  letter-spacing:0; 
}

.post .content_wrap .position,
.position { width:600px; }


#header { 
  margin-bottom:$space*2;
  h2 { text-align:left; width:auto; padding:.25em 0; }
  nav { width:auto; float:right; padding:.12em .5em; }
}
