/**
 * @file: site/tablet
 */
h2 { font-size:2em; }
p {
  font-size:.9em; 
  letter-spacing:0; 
}

.post .content_wrap .position,
.position { width:600px; }

.info_block { 
  margin-top:-30px; 
  .close {
    top:-30px;
    right:40px;
  }
}


#header { 
  position:fixed;
  z-index:100;
  margin-bottom:$space*2;
  h2 { 
    text-align:left; width:auto; padding:0 0 .1em; font-size:1.5em; 
    margin-left:-30px;
  }
  nav { width:auto; float:right; padding:.25em 0 .25em .5em; }
  a { color:#FFF; }

  nav ul li:last-child a { padding-right:0; }
}


.content_wrap {
  margin-top:$space*5;
}

.posts .post { 
  h2 { padding-bottom:0; }
}

#wrap { padding-bottom:2.5em; }

#footer .email_link { float:right; }
