
/*
#project_list { 
    float:left; position:relative; 
}

.row { float:left; position:relative; }

#project_list .item { 
    float:left; position:relative; 
    list-style-type:none;
    margin:0;
    padding:0;
}

#project_list .item a { float:left; position:relative; width:200px; padding:10px; border:1px solid transparent; }
#project_list .item a:hover { background:#FFF; border:1px solid #e0e0e0; }
#project_list .item a img { float:left; position:relative; width:100%; }
*/
/* TRANSITION */
#project_list ul li a {
    -webkit-transition:all .1s linear;
}
