{% extends "portfolio/base.html" %}
{% load markup %}

{% block body_class %}{{ block.super }} project_detail{% endblock body_class %}

{% block project_title %}/<span><a href="{{ object.get_absolute_url }}">{{ object.client.name }} {{ object.name }}</a></span>{% endblock project_title %}

{% block portfolio_content %}
    <h1>
    {% if object.client %}
	<a href="{{ object.get_absolute_url }}"><span>{{ object.client.name }}</span> {{ object.name }}</a>
    {% endif %}
    </h1>

    {% if object.description %}
    <p id="details_link"><a href="#">Details</a></p>
    <div id="details">
	{{ object.description|markdown }}
    </div>
    {% endif %}


    {% if object.url %}<p><a href="{{ object.url }}" target="_blank" class="block_link">View Project &rarr;</a></p>{% endif %}
    
    <div id="media">
	{% for photo in object.image_set.all %}
	<a id="{{ forloop.counter }}" class="anchor" ></a>
	<img src="{{ photo.full_size.url }}">
	{% endfor %}
    </div>

    <ul class="control">
	{% for photo in object.image_set.all %}
	    <li><a href="#{{ forloop.counter }}">{{ forloop.counter }}</a></li>
	{% endfor %}
    </ul>


{% endblock portfolio_content %}
