{% extends "portfolio/base.html" %}

{% block body_class %}{{ block.super }} project_list{% endblock body_class %}

{% block portfolio_content %}
<div id="project_list" class="container main">
    {% if project_list %}
	{#<h1>Projects</h1>#}
	<ul>
	{% for project in project_list %}
	    <li class="item {% cycle '' 'break2' 'break1' %}">
		<a href="{{ project.get_absolute_url }}">
		    <span class="thumb"><img src="{{ project.get_thumbnail.url }}" /></span>
		    <span class="info">{{ project.client.name }}<br/>{{ project.name }}</span>
		</a>
	    </li>
	{% endfor %}
	</ul>
    {% else %}
	<h1>You haven't added any projects yet. <a href="/admin/portfolio/">click here to add some.</a></h1>
    {% endif %}
</div>
{% endblock portfolio_content %}
