<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body class="{{ page.type }} {{ page.bodyclass }}">
    <section>
      <div class="position">
        <div class="container">
          <header>
            <h2><a href="/">{{ site.name }}</a></h2>
            <nav>
              <ul>
                <li><a href="/projects/">Projects</a></li>
		<li><a href="/minutes/">Minutes</a></li>
                <li><a href="/info/">Info</a></li>
              </ul>
            </nav>
          </header>
	</div><!-- .container -->
      </div><!-- .position -->
    </section>
    <section class="content_wrap">
      <div class="position">
        <div id="content" role="main" class="container">
	  {{ content }}
	</div><!-- .container -->
      </div><!-- .position -->
    </section>
    <footer></footer>
  </body>
</html>
